body {
    margin-top: 175px;
}

.border-top {
    color: black;
    margin-top: -10px;
}

h1 {
    color: #fc0362;
    font-size: 60px;
}

h2 {
    margin-top: -10px;
}

p {
    color: #cfc6c9;
}

.row{
    margin-left: 600px;
    margin-top: 50px;
}

.mb-3 {
    margin-left: 610px;
    margin-top: 30px;
}

button {
    margin-left: 900px;
    margin-top: 30px;
}